@page
@using Newtonsoft.Json
@model ServiceHost.RazorPages.Areas.Administration.Pages.IndexModel;
@{
    ViewBag.Title = " خانه";
}


<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">داشبورد گزارشات</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-info">
                <i class="ion-social-usd"></i>
            </span>
            <div class="mini-stat-info text-right text-muted">
                <span class="counter">@Model.Products</span>
               تعداد محصولات
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-purple">
                <i class="ion-chatbubble"></i>
            </span>
            <div class="mini-stat-info text-right text-muted">
                <span class="counter">@Model.Articles</span>
             تعداد مقالات
            </div>
           
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-success">
                <i class="ion-eye"></i>
            </span>
            <div class="mini-stat-info text-right text-muted">
                <span class="counter">44</span>
             تعداد بازدیدکنندگان
            </div>
            
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-primary">
                <i class="ion-android-contacts"></i>
            </span>
            <div class="mini-stat-info text-right text-muted">
                <span class="counter">@Model.Accounts</span>
              تعداد کاربران
            </div>
            
        </div>
    </div>
</div>

<div class="row">



    <div class="col-sm-12">
        <div class="portlet">

            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">
                اکانت های ثبت نامی
                </h3>
                <canvas height="100" id="line"></canvas>
            </div>

        </div>
    </div>
    


</div>

@section Scripts{
    <script>
        const Accounts = @Html.Raw(JsonConvert.SerializeObject(Model.Accounts));
        const lineChartDiv = document.getElementById("line");
        const lineData = @Html.Raw(JsonConvert.SerializeObject(Model.LineDataSet));
        const lineChart = new Chart(lineChartDiv,
            {
                type: "line",
                data: {
                    labels: ["فروردین", "اردیبهشت", "خرداد", " تیر", "مرداد","شهریور","مهر","آبان","آذر","دی","بهمن","اسفند"],
                    datasets: lineData
                },
                options: {
                    elements: {
                        bar: {
                            borderWidth: 1
                        }
                    }
                }
            });


 

    </script>
}